<!-- Footer -->
<footer class="">
  <div class="container-fluid py-2 text-center">
    <div class="mb-2 mb-md-0">
      ©2022, made with ❤️ by PruthviDhamecha
    </div>
  </div>
</footer>

<!-- 
<div class="bs-toast toast fade show position-absolute bottom-0 end-0 bg-success animate__animated animate__flipInX m-5" ng-show="isAlert" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Login Successfully
  </div>
</div> 
-->

<div class="content-backdrop fade"></div>