<aside
  id="layout-menu"
  class="layout-menu menu-vertical menu bg-menu-theme h-100"
>
  <div class="app-brand demo">
    <a href="#!/dashboard" class="app-brand-link">
      <span class="app-brand-text text-uppercase demo menu-text fw-bolder ms-2"
        >EMS</span
      >
    </a>

    <a href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item" ng-repeat="link in sidebarLinks">
      <a href="{{link.link}}" class="menu-link">
        <i class="menu-icon tf-icons {{link.icon}}"></i>
        <div data-i18n="Analytics">{{link.title}}</div>
      </a>
    </li>
  </ul>
</aside>
