<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner">
    <!-- Register -->
    <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
          <a href="index.html" class="app-brand-link gap-2">
            <span class="app-brand-text demo text-body fw-bolder">EMS</span>
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Welcome to EMS! 👋</h4>
        <p class="mb-4">Please sign-in to your account</p>

        <form id="formAuthentication" class="mb-3" ng-submit="login()">
          <div class="mb-3">
            <label for="email" class="form-label">Email or Username</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email-username"
              placeholder="Enter your email or username"
              ng-model="username"
              autofocus
            />
          </div>
          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="password">Password</label>
              <a href="auth-forgot-password-basic.html">
                <small>Forgot Password?</small>
              </a>
            </div>
            <div class="input-group input-group-merge">
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password"
                ng-model="password"

              />
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="remember-me" />
              <label class="form-check-label" for="remember-me"> Remember Me </label>
            </div>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
          </div>
        </form>

      </div>
    </div>
    <!-- /Register -->
  </div>
</div>

<div class="bs-toast toast fade show position-absolute bottom-0 end-0 bg-danger animate__animated animate__flipInX m-5" ng-hide="isAlert" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Invalid Credentials
  </div>
</div>